.card{
 width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.card, .card-image{
    border-radius: 8px;
}
.card-title{
    font-weight: 500px;
    font-style: itallic;
    overflow: hidden;
    text-overflow: ellipsis;
}

